#most-popular-list {
  background: papayawhip;
  padding: 1em;
  margin-top: 1em;
  font-size: 0.9em;
}

#most-popular-list p {
  margin: 0 0 1em 0em;
  font-weight: bold;
}

.popular-list-item {
  padding: 0.2em;
  border-bottom: 0.1em solid black;
}

.popular-list-item:hover {
  cursor: pointer;
  background: gold;
}

#most-popular-list.in-panel {
  font-size: 1.2em;
}
