#navigation-button {
  background: #8bbdcc;
  color: white;
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em 0;
  width: 17em;
  box-sizing: border-box;
}

#navigation-button:hover {
  background: #56a5bd;
}

#navigation-button.selected {
  border: 0.2em solid white
}

#navigation-button div {
  display: flex;
  align-items: center;
}

#navigation-button span {
  font-size: 1.2em;
  padding: 0.2em;
}

#navigation-button span.logo {
  font-size: 1.5em;
}

@media (max-width: 75em) {
  #navigation-button span.text {
    display: none;
  }

  #navigation-button span.logo {
    font-size: 1.5em;
  }

  #navigation-button {
    height: 3.5em;
    width: 3.5em;
    border-radius: 3.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
