#navigation-button {
  background: #8bbdcc;
  color: white;
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em 0;
  width: 17em;
}

#navigation-button:hover {
  background: #56a5bd;
}

#navigation-button div {
  display: flex;
  align-items: center;
}

#navigation-button span {
  font-size: 1.2em;
  padding: 0.2em;
}

#navigation-button span.logo {
  font-size: 1.5em;
}
