#post {
  min-height: 7em;
  padding: 1em;
  margin: 1em 0;
  border-radius: 1em;
  background: white;
}

#post #post-header {
  display: flex;
  align-items: center;
}

#post #username {
  color: darkgray;
  margin-left: 0.5em;
}

#post #postText {
  font-size: 1.2em;
}
