#profile-panel {
  background: whitesmoke;
  position: relative;
}

#followings-info-container {
  display: flex;
  justify-content: space-around;
}

#profile-name-container {
  position: relative;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}
