#profile-image img {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5em solid lightblue;
  background: black;
}

#profile-image {
  display: flex;
  justify-content: space-around;
}

#profile-image input {
  display: none;
}

#profile-image #overlay {
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  border: 0.5em solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

#profile-image #overlay[hidden] {
  display: none;
}

#profile-image.in-post {
  display: inline-block;
}

#profile-image.in-post img {
  width: 3em;
  height: 3em;
  border: none;
}
