#search-bar {
  position: fixed;
}

#search-input {
  background: white;
  width: 16em;
  padding: 0.5em;
  border-radius: 1em;
  display: flex;
}

#search-bar.in-panel {
  position: initial;
}

#search-bar.in-panel #search-input {
  width: initial;
  font-size: 1.2em;
  margin-top: 1.5em;
}

@media (min-width: 55em) {
  #search-bar.in-panel {
    display: none;
  }
}

#search-input.has-result {
  border-radius: 1em 1em 0 0;
}

#search-input input {
  background: white;
  font-size: 1.2em;
  border: none;
  border-bottom: 0.05em solid gray;
  width: 85%;
}

#search-input input:focus {
  outline: none;
}

#search-input span {
  font-size: 1.2em;
  margin-right: 0.5em;
}

.search-result {
  font-size: 1em;
  padding: 0.5em;
  background: white;
}

.search-result:hover {
  background: gray;
  color: white;
  cursor: pointer;
}

.search-result:last-of-type {
  border-radius: 0 0 1em 1em;
}
