#search-bar {
  position: fixed;
}

#search-input {
  background: white;
  width: 17em;
  padding: 0.5em;
  border-radius: 1em;
  display: flex;
}

#search-input.has-result {
  border-radius: 1em 1em 0 0;
}

#search-input input {
  background: white;
  font-size: 1.2em;
  border: none;
  border-bottom: 0.05em solid gray;
  width: 85%;
}

#search-input input:focus {
  outline: none;
}

#search-input span {
  font-size: 1.2em;
  margin-right: 0.5em;
}

.search-result {
  font-size: 1em;
  padding: 0.5em;
  background: white;
}

.search-result:last-of-type {
  border-radius: 0 0 1em 1em;
}
