body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

main {
	display: flex;
	flex-wrap: wrap;
	background-color: gray;
	height: 100vh;
}

#welcome {
	flex: 2 20em;
	background-color: lightblue;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#login, #signup {
	flex: 1 20em;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#login {
	display: none;
}

#signup {
	display: flex;
}

#welcome > div {
	font-size: 2em;
	padding: 1em;
}

#login > div {
	font-size: 1.5em;
	padding: 1em;
}

#signup > div {
	font-size: 1.2em;
	padding: 1em;
}

#login ul, #signup ul {
	padding: 0;
}

#login li, #signup li {
	list-style: none;
	padding: 0.5em 0;
}

#login label {
	display: inline-block;
	width: 5em;
	text-align: right;
}

#signup label {
	display: inline-block;
	width: 10em;
	text-align: right;
}

#login input, #signup input {
	font-size: 1em;
	padding: 0.5em;
}

#login button, #signup button {
	font-size: 1em;
	padding: 0.5em 1em;
	display: block;
	margin: 0 auto;
}

#signup select {
	font-size: 1em;
	padding: 0.5em;
}

#login p, #signup p {
	font-size: 0.8em;
}

.error {
	font-size: 0.7em;
	background-color: red;
	color: white;
	padding: 0em;
}

.error.active {
	padding: 0.5em;
	margin: 0 0.5em;
	width: 10em;
	position: absolute;
}
