body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.short-stack-regular {
	font-family: "Short Stack", cursive;
	font-weight: 400;
	font-style: normal;
}

main {
	display: flex;
	flex-wrap: wrap;
	background: url(the_enchanted_gathering_by_fiulo_dgeug33.jpg);
	background-size: cover;
	background-position-x: right 500px;
	height: 100vh;
}

#welcome {
	flex: 10 20em;
	background-color: rgba(58, 172, 198, 0.77);
	color: white;
	text-shadow: 0.2em 0.2em black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#login,
#signup {
	flex: 1 50em;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media (max-width: 70em) {
	main {
		background-size: 100vw;
		background-position-x: 0;
	}
}

@media (max-width: 51em) {
	main {
		background-size: 150vw;
		background-position-x: right;
	}
}

@media (max-width: 600px) {
	main {
		background-size: 250vw;
		background-position-x: right -200px;
	}

	#welcome {
		font-size: 0.8em;
	}

	#login,
	#signup {
		font-size: 0.7em;
	}
}

#login {
	display: flex;
}

#signup {
	display: none;
}

#welcome>div {
	font-size: 2.5em;
	padding: 1em;
}

#login>div {
	font-size: 1.5em;
	padding: 1em;
}

#signup>div {
	font-size: 1.2em;
	padding: 1em;
}

#login ul,
#signup ul {
	padding: 0;
}

#login li,
#signup li {
	list-style: none;
	padding: 0.5em 0;
}

#login label {
	display: inline-block;
	width: 5em;
	text-align: right;
}

#signup label {
	display: inline-block;
	width: 10em;
	text-align: right;
}

#login input,
#signup input {
	font-size: 1em;
	padding: 0.5em;
}

#login button,
#signup button {
	font-size: 1em;
	padding: 0.5em 1em;
	display: block;
	margin: 0 auto;
}

#signup select {
	font-size: 1em;
	padding: 0.5em;
}

#login p,
#signup p {
	font-size: 0.8em;
}

span.error {
	font-size: 0.7em;
	background-color: red;
	color: white;
	padding: 0em;
}

span.error.active {
	padding: 0.5em;
	margin: 0 0.5em;
	width: 8em;
	position: absolute;
}

/* floating message */
#floating-message {
	width: 15em;
	text-align: center;
	position: fixed;
	top: 1em;
	left: 50%;
	transform: translateX(-50%);
}

#floating-message.success {
	background-color: lightgreen;
	color: black;
	padding: 1em;
	border: solid black;
}

#floating-message.error {
	background-color: lightcoral;
	color: black;
	padding: 1em;
	border: solid black;
}
